*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}


body {
    padding-left: 10%;
 }

#logoutem1{
    margin-top: 0%;
}

#fondoblanco{
    margin-top: 10%;
}

#titsigelab{
    margin-top: 0%;
}

#imglogin{
    margin-top: 8%;
}


@media only screen and (max-width: 992px){

    #nombres{
        display: none;
    }

    #logoutem1{
        display: none;
    }

    #titsigelab{
        display: none;
    }

    #fondoblanco{
        margin-left: 10%;
        margin-top: -10%;

    }

    #imglogin{
        margin-top: -15%;
        margin-right: 23%;
    }

}

@media only screen and (max-width: 770px){

    #nombres{
        display: none;
    }

    #logoutem1{
        display: none;
    }

    #titsigelab{
        display: none;
    }

    #fondoblanco{
        margin-left: 10%;
        margin-top: -10%;

    }

    #imglogin{
        margin-top: -15%;
        margin-right: 7%;
    }
}

@media only screen and (max-width: 500px){

    #nombres{
        display: none;
    }

    #logoutem1{
        display: none;
    }

    #titsigelab{
        display: none;
    }

    #fondoblanco{
        margin-left: -9%;
        margin-top: -10%;

    }

    #imglogin{
        margin-top: -15%;
        margin-right: 7%;
    }
}